#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_build:
	# binary-only release package

override_dh_auto_install:
	mkdir -p debian/oocurl/usr/bin
	install -m 0755 dist/oocurl debian/oocurl/usr/bin/oocurl
	install -m 0755 uninstall.sh debian/oocurl/usr/bin/oocurl-uninstall
